<h2>Top 5 of Denver</h2>
<% @search.top_cuisines.each do |c| %>
  <p>cuisine: <%= c %></p>
<% end %>

<% @search.top_5_restaurants.each do |r| %>
<h2>Restaurant</h2>
  <p>name: <%= r.name %></p>
  <p>address: <%= r.address %></p>
  <p>locality: <%= r.locality %></p>
<% end %>
