<h2>Top 5 of Denver</h2>
<% @search.top_cuisines.each do |cuisine| %>
  <p>cuisine: <%= cuisine.name %></p>
<% end %>

<% @search.top_5_restaurants.each do |restaurant| %>
<h2>Restaurant</h2>
  <p>name: <%= restaurant.name %></p>
  <p>address: <%= restaurant.address %></p>
  <p>locality: <%= restaurant.locality %></p>
<% end %>
