<h2>Top 5 of Denver</h2>
<% @top_cuisines.each do |c| %>
  <p>cuisine: <%= c %></p>
<% end %>

<% @top_5_restaurants.each do |r| %>
<h2>Restaurant</h2>
  <p>name: <%= r["restaurant"]['name'] %></p>
  <p>address: <%= r["restaurant"]['location']['address'] %></p>
  <p>locality: <%= r["restaurant"]['location']['locality'] %></p>
<% end %>
